body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #222222;
    padding: 20px;
    color: #ffffff;
  }
  
  #container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  #logo {
    font-size: 7em;
    text-align: center;
    margin: 0;
    -webkit-text-stroke: 2px #ffffff;
  }
  
  #titulo {
    background-color: #e44c4c;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
  }
  
  #servicos {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #lavagem-tradicional,
  #lavagem-tecnica,
  #lavagem-completa {
    margin-bottom: 40px;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: rgb(243, 40, 40);
  }
  
  img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 2em ;
  }
  
  h2 {
    font-size: 1.9em;
    margin-bottom: 10px;
  }
  
  ol {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 2em;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  footer {
    background-color: #222222;
    padding: 20px;
    color: #ffffff;
    text-align: center;
  }

  /* Estilos para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    #logo {
      font-size: 4em;
    }
  
    #titulo {
      font-size: 1.5em;
    }
  
    #servicos {
      padding: 10px;
    }
  
    img {
      max-width: 100%;
    }
  
    p {
      font-size: 1.5em;
    }
  
    h2 {
      font-size: 1.3em;
    }
  
    ol {
      margin-left: 10px;
      font-size: 1.5em;
    }
  }